.dot {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.445);
}
.line-100 {
  border-right: 2px solid rgb(43, 43, 43);
  height: 100%;
}
.line-medium {
  border-right: 2px solid rgb(43, 43, 43);
  height: 30px;
}
.line-long {
  border-right: 2px solid rgb(43, 43, 43);
  height: 60px;
}
.line-bottom {
  border-bottom: 2px solid rgb(43, 43, 43);
  height: 20px;
}
.box {
  border: 1px solid gray;
}
.bg-gray {
  background-color: #dbdbdb;
}

.VERTICAL-LINE {
  background-color: black;
  width: 1px;
}
.HORIZONTAL-LINE {
  background-color: black;
  height: 1px;
}
#center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
